{% extends 'base.html.twig' %}

{% block body %}
    {# its a perfecly valid HTML5 semantics#}
    <h1 class="mt-5">Articles</h1>
    {%  for article in articles %}
    <article>
        <header><h1 class="mt-5">{{ article._source.title }}</h1></header>

        <p class="lead">{{ article._source.content }}</p>
        <p>Back to <a href="">link</a></p>
    </article>
    {% endfor %}
{% endblock %}